.brandGradient{
    background: #295BCF;
background: linear-gradient(to right, #295BCF 0%, #23CF3A 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}